<div class="col l5 m5 s12">
	<h4><%= __('Login Logs') %></h4>
	<div>
		<table class="highlight">
			<tr>
				<th><%= __('Time') %></th>
				<th><%= __('Success') %></th>
			</tr>
			<% login.forEach(loginEntry => { %>
			<tr>
				<td>
					<%= loginEntry.date %>
				</td>
				<td>
					<%= loginEntry.success %>
				</td>
			</tr>
			<% }) %>
		</table>
	</div>
</div>
