<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('authHead.ejs') %>
		<title><%= __('Sign up') %></title>
	</head>

	<body>
		<div class="container row">
			<div class="center box col s12 m6 l4 push-m3 push-l4">
				<% if (error != undefined){ %>
				<p class="red"><%=error%></p>
				<% } %>
				<form action="/auth/signup" method="post" autocomplete="off">
					<div class="input-field">
						<input type="text" id="username" name="username" /><br />
						<label class="grey-text text-darken-2" for="username"
							><%= __('Username') %></label
						>
					</div>
					<div class="input-field">
						<input type="password" id="password" name="password" />
						<label class="grey-text text-darken-2" for="password"
							><%= __('Password') %></label
						>
					</div>
					<div class="input-field">
						<input type="password" id="cpassword" name="cpassword" />
						<label class="grey-text text-darken-2" for="cpassword"
							><%= __('Confirm password') %></label
						>
					</div>
					<div>
						<button
							class="btn red waves-effect waves-light"
							type="submit"
							name="action"
						>
							<%= __('Sign Up') %>
							<i class="material-icons right">send</i>
						</button>
					</div>
				</form>
				<a href="/login">
					<p class="blue-text"><%= __('Login instead') %>!</p>
				</a>
			</div>
		</div>

		<script>
			$(document).ready(() => {
				if ($('p.red').html().length > 0) {
					$('.box').css('transform', 'translateY(30%)');
				}
			});
		</script>
	</body>
</html>
